@model BO.Samourai

@{
    ViewBag.Title = "Delete";
}

<h2>Suppression</h2>

<h3>Voulez-vous supprimer ce samouraï ?</h3>

@Html.Partial("_SamouraiDetails", Model)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        @Html.ActionLink("Annuler", "Index")
    </div>
}
