@model BO.Samourai

@{
    ViewBag.Title = "Details";
}

<h2>Détails d'un Samouraï</h2>
@Html.Partial("_SamouraiDetails", Model)

<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
